.github-profile-finder {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: clamp(300px, 52vw, 800px);

    &__header {
    }

    &__card {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-block-start: 20px;
        padding: 20px;

        &-header {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 250px;
                object-fit: contain;
                border-radius: 50%;
                margin-block-end: 20px;
            }

            p,
            a {
                font-size: 1.5rem;
                color: #333;
            }

            a {
                font-size: 1.5rem;
                font-weight: 700;
                text-decoration: none;
            }
            p {
                font-weight: 600;
                font-size: 1.2rem;
            }
        }

        &-body {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-block-start: 20px;

            p {
                font-size: 1.2rem;
                color: #333;
            }
        }
    }
}
