.side-menu {
    background-color: aquamarine;
    border: 1px solid green;
    height: 100%;
    width: 500px;
}

.menu-item {
    padding: .7rem 0;

    p {
        font-weight: 600;
    }
    
    &__pressable {
        display: flex;
        gap: 2rem;
        cursor: pointer;
    }
}

ul {
    list-style: none;
}