/*
  Import projects here
*/
@use './project-1/_accordion';
@use './project-2/randomColorGenerator';

/* 
  Global
*/
@use '_reset';

#root {
  width: 100%;
}

.viewport {
  height: 100dvh;
}

.base {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.title {
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  padding-block-start: 2rem;
}