@use 'sass:math';

/*
  Import projects here
*/
@use './project-1/_accordion';
@use './project-2/randomColorGenerator';
@use './project-3/starRating';

/* 
  Global
*/
@use '_reset';

#root {
    width: 100%;
}

.viewport {
    height: 100dvh;

    @media (min-width: 1000px) {
        height: calc(100dvh - 102px);
    }
}

.fill {
    min-height: 100dvh;
    height: 100%;
}

.base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
}

.title {
    text-align: center;
    font-size: clamp(2rem, 5vw, 4rem);
    padding-block-start: 2rem;
}
